.root {
    color: var(--color-white);
    border: solid 1px transparent;
    background-color: var(--color-brand-500);
}

.root:hover {
    background-color: var(--color-brand-600);
}

.root:active {
    background-color: var(--color-brand-700);
}

.root:disabled {
    background-color: var(--color-brand-200);
}
