.root {
  border-radius: 8px;
  color: var(--color-gray-600);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
}

.root:hover,
.root:active {
  background-color: var(--color-gray-100);
  border-color: var(--color-gray-600);
}

.root:disabled {
  color: var(--color-gray-400);
  border-color: var(--color-gray-400);
  background-color: var(--color-white);
}
