.inputWrapper {
  width: 100%;
  position: relative;
}

.input {
  display: inline-block;
  width: 100%;
  padding: 13px 16px;
  font-size: 16px;
  line-height: 20px;
  font-family: var(--font-sans);
  border-radius: 8px;
  border: 1px solid var(--color-gray-500);
  background-color: var(--color-white);
  /* ignore top box shadow on safari mobile */
  -webkit-appearance: none;
}

.input:hover {
  cursor: pointer;
}

.input:focus {
  outline: none;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-700);
}

.input:disabled {
  border-color: var(--color-gray-300);
}

.input:disabled ~ .label {
  color: var(--color-gray-300);
}

input::placeholder {
  color: var(--color-gray-400);
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label {
  top: 0;
  padding: 0 4px;
  font-size: 12px;
  font-weight: 600;
  background: var(--color-white);
}

.input:valid ~ .label {
  color: var(--color-gray-500);
}

.input:focus ~ .label {
  color: var(--color-gray-700);
}

.label {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  pointer-events: none;
  color: var(--color-gray-400);
  transition: all 0.2s ease-in-out;
}
