.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.input {
  margin: 0;
  width: 24px;
  height: 24px;
  appearance: none;
  border-radius: 4px;
  border: 1px solid var(--color-gray-400);
  background-color: var(--color-white);
}

input:checked {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

input:disabled {
  cursor: default;
  border-color: var(--color-gray-300);
  background-color: var(--color-white);
}

input:disabled:checked {
  border-color: var(--color-brand-04);
  background-color: var(--color-brand-04);
}

.label {
  margin-left: 8px;
  color: var(--color-gray-600);
}

.input:disabled ~ .label {
  color: var(--color-gray-400);
}

.checkIcon {
  display: block;
}

.checkboxCheck {
  position: absolute;
  opacity: 0;
  top: 4px;
  left: 4px;

  /* Check icon style */
  font-size: 16px;
  color: var(--color-primary);
}

.input:checked ~ .checkboxCheck {
  opacity: 1;
}
