.checkbox {
    display: flex;
    align-items: center;
}

.checkbox.disabled {
    pointer-events: none;
}

.checkbox .wrapper {
    display: inline-block;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid var(--color-gray-400);
    transition: all 0.3s linear;
    position: relative;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    min-width: var(--checkbox-size);
    min-height: var(--checkbox-size);
    cursor: pointer;
}

.checkbox.disabled .wrapper {
    cursor: default;
    pointer-events: none;
    border: 1px solid var(--color-gray-200);
    background-color: var(--color-gray-50);
}

.checkbox:not(.disabled) .wrapper:hover {
    border: 1px solid var(--color-brand-500);
}

.checkbox:not(.disabled).checked .wrapper {
    background-color: var(--color-brand-500);
    border: 1px solid var(--color-brand-500);
}

.checkbox .iconWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
}

.checkbox .checkIcon {
    flex-shrink: 0;
    display: block;
    overflow: hidden;
    transition: all 0.15s linear;
    color: var(--color-white);
}

.checkbox.disabled .wrapper .checkIcon {
    color: var(--color-gray-400);
}

.checkbox:not(.checked) .checkIcon {
    height: 0;
    width: 0;
}
.checkbox .label {
    margin-left: 0.5rem;
    font-weight: 400;
    color: var(--color-gray-800);
    user-select: none;
}

.checkbox.disabled .label {
    color: var(--color-gray-400);
}
