@import 'font/font.css';

:root {
  --color-white: #ffffff;
  --color-black: #333c44;

  /* Deprecated start-block */
  --color-gray-50: #fafafa;
  --color-gray-100: #f6f7f8;
  --color-gray-200: #eef1f3;
  --color-gray-300: #d0d6db;
  --color-gray-400: #a8aeb4;
  --color-gray-500: #596168;
  --color-gray-600: #333c44;
  --color-gray-700: #151a1f;

  --color-brand-01: #4144d9;
  --color-brand-02: #5960ff;
  --color-brand-03: #828cff;
  --color-brand-04: #abb5ff;
  --color-brand-05: #d4daff;
  --color-brand-06: #f0f3ff;
  /* Deprecated end-block */

  /* It will be replaced by var(--color-primary-main) */
  --color-primary: var(--color-brand-02);
  /* It will be replaced by var(--color-info-main) */
  --color-info: #1890ff;
  /* It will be replaced by var(--color-error-main) */
  --color-error: #fb7787;
  /* It will be replaced by var(--color-success-main) */
  --color-success: #55b685;
  /* It will be replaced by var(--color-warning-main) */
  --color-warning: #ffd177;

  --color-neutral-50: #fafafa;
  --color-neutral-100: #f1f5f9;
  --color-neutral-200: #e2e8f0;
  --color-neutral-300: #cbd5e1;
  --color-neutral-400: #a9b6c9;
  --color-neutral-500: #7f93a5;
  --color-neutral-600: #6e7c8b;
  --color-neutral-700: #525c66;
  --color-neutral-800: #333c44;
  --color-neutral-900: #21282e;

  --color-primary-50: #f0f3ff;
  --color-primary-300: #d4daff;
  --color-primary-500: #abb5ff;
  --color-primary-700: #5960ff;
  --color-primary-900: #444cff;
  --color-primary-main: var(--color-primary-700);

  --color-success-50: #eefaf3;
  --color-success-300: #b7e7cc;
  --color-success-500: #84cea7;
  --color-success-700: #55b685;
  --color-success-900: #3c8f68;
  --color-success-main: var(--color-success-700);

  --color-warning-50: #fffcf0;
  --color-warning-300: #ffecc9;
  --color-warning-500: #ffdba1;
  --color-warning-700: #ffc777;
  --color-warning-900: #d9a05b;
  --color-warning-main: var(--color-warning-700);

  --color-error-50: #fff0f0;
  --color-error-300: #ffb8bb;
  --color-error-500: #ff8f98;
  --color-error-700: #ff6679;
  --color-error-900: #d94c61;
  --color-error-main: var(--color-error-700);

  --color-info-50: #e7f3ff;
  --color-info-300: #a3cdff;
  --color-info-500: #53a2ff;
  --color-info-700: #1882ff;
  --color-info-900: #0066cc;
  --color-info-main: var(--color-info-700);

  --shadow-1: 0px 2px 4px rgba(36, 38, 40, 0.2);
  --shadow-2: 0px 8px 16px rgba(36, 38, 40, 0.1);
  --shadow-3: 0px 16px 32px rgba(36, 38, 40, 0.15);

  --font-sans: Gilroy, system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  background-color: var(--color-white);
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-sans);
  color: var(--color-black);
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font: inherit;
}
