.toggle {
    display: flex;
    align-items: center;
}

.toggle.disabled {
    pointer-events: none;
}

.toggle .wrapper {
    display: block;
    width: var(--toggle-width);
    height: var(--toggle-height);
    background-color: var(--color-gray-300);
    border-radius: 1000px;
    position: relative;
    transition: all 0.15s linear;
    cursor: pointer;
}

.toggle.checked .wrapper {
    background-color: var(--color-brand-500);
}

.toggle .wrapper::after {
    --padding: calc((var(--toggle-height) - var(--toggle-size)) / 2);

    content: '';
    position: absolute;
    background-color: var(--color-white);

    width: var(--toggle-size);
    border-radius: 1000px;
    top: var(--padding);
    bottom: var(--padding);
    left: var(--padding);
    transition: all 0.15s linear;
}

.toggle.disabled .wrapper {
    background-color: var(--color-brand-100);
}

.toggle.checked .wrapper::after {
    left: calc(100% - 2px - var(--toggle-size));
}

.toggle .label {
    margin-left: 0.5rem;
    font-size: var(--toggle-height);
    color: var(--color-brand-600);
}

.toggle.disabled .label {
    color: var(--color-gray-400);
}
