.heading1,
.heading2,
.heading3,
.heading4,
.heading5,
.heading6 {
  font-family: var(--font-sans);
  font-weight: normal;
}

.heading1 {
  font-size: 40px;
  line-height: 48px;
}

.heading2 {
  font-size: 36px;
  line-height: 44px;
}

.heading3 {
  font-size: 28px;
  line-height: 36px;
}

.heading4 {
  font-size: 24px;
  line-height: 32px;
}

.heading5 {
  font-size: 20px;
  line-height: 28px;
}

.heading6 {
  font-size: 18px;
  line-height: 22px;
}
