.label1,
.label2,
.label3,
.label4,
.label5,
.label6 {
  font-family: var(--font-sans);
  font-weight: normal;
}

.label1 {
  font-size: 18px;
  line-height: 22px;
}

.label2 {
  font-size: 16px;
  line-height: 20px;
}

.label3 {
  font-size: 14px;
  line-height: 18px;
}

.label4 {
  font-size: 12px;
  line-height: 16px;
}

/* Label5 is deprecated since version 0.0.12 and will be deleted in 0.1.0 */
.label5 {
  font-size: 11px;
  line-height: 16px;
}

/* Label6 is deprecated since version 0.0.12 and will be deleted in 0.1.0 */
.label6 {
  font-size: 10px;
  line-height: 16px;
}
