/* Thin (100) */
@font-face {
  font-family: Gilroy;
  font-weight: 100;
  font-style: normal;
  src: url('./Gilroy/Thin.otf')
  format('opentype');
}

@font-face {
  font-family: Gilroy;
  font-weight: 100;
  font-style: italic;
  src: url('./Gilroy/ThinItalic.otf')
  format('opentype');
}

/* XLight (200) */
@font-face {
  font-family: Gilroy;
  font-weight: 200;
  font-style: normal;
  src: url('./Gilroy/XLight.otf')
  format('opentype');
}

@font-face {
  font-family: Gilroy;
  font-weight: 200;
  font-style: italic;
  src: url('./Gilroy/XLightItalic.otf')
  format('opentype');
}

/* Light (300) */
@font-face {
  font-family: Gilroy;
  font-weight: 300;
  font-style: normal;
  src: url('./Gilroy/Light.otf')
  format('opentype');
}

@font-face {
  font-family: Gilroy;
  font-weight: 300;
  font-style: italic;
  src: url('./Gilroy/LightItalic.otf')
  format('opentype');
}

/* Normal (400) */
@font-face {
  font-family: Gilroy;
  font-weight: 400;
  font-style: normal;
  src: url('./Gilroy/Regular.otf')
  format('opentype');
}

@font-face {
  font-family: Gilroy;
  font-weight: 400;
  font-style: italic;
  src: url('./Gilroy/RegularItalic.otf')
  format('opentype');
}

/* Medium (500) */
@font-face {
  font-family: Gilroy;
  font-weight: 500;
  font-style: normal;
  src: url('./Gilroy/Medium.otf')
  format('opentype');
}

@font-face {
  font-family: Gilroy;
  font-weight: 500;
  font-style: italic;
  src: url('./Gilroy/MediumItalic.otf')
  format('opentype');
}

/* SemiBold (600) */
@font-face {
  font-family: Gilroy;
  font-weight: 600;
  font-style: normal;
  src: url('./Gilroy/SemiBold.otf')
  format('opentype');
}

@font-face {
  font-family: Gilroy;
  font-weight: 600;
  font-style: italic;
  src: url('./Gilroy/SemiBoldItalic.otf')
  format('opentype');
}

/* Bold (700) */
@font-face {
  font-family: Gilroy;
  font-weight: 700;
  font-style: normal;
  src: url('./Gilroy/Bold.otf')
  format('opentype');
}

@font-face {
  font-family: Gilroy;
  font-weight: 700;
  font-style: italic;
  src: url('./Gilroy/BoldItalic.otf')
  format('opentype');
}

/* XBold (800) */
@font-face {
  font-family: Gilroy;
  font-weight: 800;
  font-style: normal;
  src: url('./Gilroy/XBold.otf')
  format('opentype');
}

@font-face {
  font-family: Gilroy;
  font-weight: 800;
  font-style: italic;
  src: url('./Gilroy/XBoldItalic.otf')
  format('opentype');
}

/* Heavy (900) */
@font-face {
  font-family: Gilroy;
  font-weight: 900;
  font-style: normal;
  src: url('./Gilroy/Heavy.otf')
  format('opentype');
}

@font-face {
  font-family: Gilroy;
  font-weight: 900;
  font-style: italic;
  src: url('./Gilroy/HeavyItalic.otf')
  format('opentype');
}

/* Black (950) */
@font-face {
  font-family: Gilroy;
  font-weight: 950;
  font-style: normal;
  src: url('./Gilroy/Black.otf')
  format('opentype');
}

@font-face {
  font-family: Gilroy;
  font-weight: 950;
  font-style: italic;
  src: url('./Gilroy/BlackItalic.otf')
  format('opentype');
}
