.root {
    color: var(--color-white);
    border: solid 1px transparent;
    background-color: var(--color-brand-500) !important;
}

.root:hover {
    background-color: var(--color-brand-600) !important;
}

.root:active {
    background-color: var(--color-brand-700) !important;
}

.root:disabled {
    background-color: var(--color-brand-200) !important;
}
