.root {
    color: var(--color-gray-700) !important;
    border: solid 1px transparent;
    background-color: var(--color-gray-100) !important;
}

.root:hover {
    background-color: var(--color-gray-200) !important;
}

.root:active {
    background-color: var(--color-gray-100) !important;
}

.root:disabled {
    color: var(--color-gray-400) !important;
}
