.root {
    color: var(--color-gray-700);
    border: solid 1px transparent;
}

.root:hover {
    background-color: var(--color-gray-100);
}

.root:active {
    background-color: var(--color-gray-200);
}

.root:disabled {
    color: var(--color-gray-400);
}
