.root {
    color: var(--color-white);
    border: solid 1px transparent;
    background-color: var(--color-gray-700) !important;
}

.root:hover {
    color: var(--color-brand-400);
}

.root:active {
    color: var(--color-brand-400);
    background-color: var(--color-gray-800) !important;
}

.root:disabled {
    background-color: var(--color-gray-100) !important;
    color: var(--color-gray-400);
}
