.root {
    color: var(--color-white);
    border: solid 1px transparent;
    background-color: var(--color-gray-700);
}

.root:hover {
    color: var(--color-brand-400);
}

.root:active {
    color: var(--color-brand-400);
    background-color: var(--color-gray-800);
}

.root:disabled {
    background-color: var(--color-gray-100);
    color: var(--color-gray-400);
}
