.pinCodeContainer {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
}

.pinCodeWrapper {
  display: flex;
}

.input {
  display: inline-block;
  font-family: var(--font-sans);
  border-radius: 8px;
  border: 1px solid var(--color-brand-05);
  background-color: var(--color-white);
  text-align: center;
  pointer-events: all;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 25px;
  /* ignore top box shadow on safari mobile */
  -webkit-appearance: none;
}

/* spacing */
.input:not(:first-of-type) {
  margin-left: 8px;
}

.input:not(:last-of-type) {
  margin-right: 8px;
}

/* sizes */
.inputMini {
  width: 32px;
  height: 32px;
}

.inputCompact {
  width: 56px;
  height: 56px;
}

.inputDefault {
  width: 72px;
  height: 72px;
}

.inputCompact {
  width: 92px;
  height: 92px;
}

/* disable up down array in desktop view */
/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.input[type='number'] {
  -moz-appearance: textfield;
}

.input:focus {
  outline: none;
  border: none !important;
  border-radius: 0;
  border-bottom: 2px solid var(--color-brand-02) !important;
}

.input:valid:not(:focus) {
  background: var(--color-brand-06);
  border: 1px solid var(--color-brand-05);
  box-sizing: border-box;
  border-radius: 8px;
}

.inputError {
  background: var(--color-white) !important;
  border: 1px solid var(--color-error) !important;
  box-sizing: border-box;
  border-radius: 8px;
}

.errorMessage {
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-error);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 8px;
}

.errorHidden {
  visibility: hidden;
}
