.display1,
.display2 {
    font-family: var(--font-sans);
    font-weight: normal;
    color: var(--color-gray-800);
}

.display1 {
    font-size: 52px;
    line-height: 72px;
}

.display2 {
    font-size: 44px;
    line-height: 64px;
    letter-spacing: -0.015em;
}
