.label1,
.label2,
.label3,
.label4,
.label5,
.label6 {
    font-family: var(--font-sans);
    font-weight: 600;
}

.label1 {
    font-size: 1.125em;
    line-height: 2em;
}

.label2 {
    font-size: 1em;
    line-height: 1.75em;
}

.label3 {
    font-size: 0.875em;
    line-height: 1.5em;
}

.label4 {
    font-size: 0.75em;
    line-height: 1em;
}

/* Label5 is deprecated since version 0.0.12 and will be deleted in 0.1.0 */
.label5 {
    font-size: 0.6875em;
    line-height: 1em;
}

/* Label6 is deprecated since version 0.0.12 and will be deleted in 0.1.0 */
.label6 {
    font-size: 0.625em;
    line-height: 1em;
}
