.label1,
.label2,
.label3,
.label4,
.label5,
.label6 {
    font-family: var(--font-sans);
    font-weight: 600;
}

.label1 {
    font-size: 1.125rem;
    line-height: 2rem;
}

.label2 {
    font-size: 1rem;
    line-height: 1.75rem;
}

.label3 {
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.label4 {
    font-size: 0.75rem;
    line-height: 1rem;
}

/* Label5 is deprecated since version 0.0.12 and will be deleted in 0.1.0 */
.label5 {
    font-size: 0.6875rem;
    line-height: 1rem;
}

/* Label6 is deprecated since version 0.0.12 and will be deleted in 0.1.0 */
.label6 {
    font-size: 0.625rem;
    line-height: 1rem;
}
